html{
    background-color: bisque;
    height: 100vh;
}
.cont{
    width: 680px;
    height: 520px;
    background-color: rgb(232, 194, 194);
    padding: 40px 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(75, 151, 54);
}
.scores{
    margin-bottom: 60px;
    text-align: center;
    border: 2px black solid;
    border-radius: 9px;
    width: 125px;
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: beige;
}

.weapons{
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.weapons button{
    background-color: orange;
    color: rgb(240, 230, 230);
    border: none;
    font-size: 50px;
    height: 100px;
    width: 100px;
    border-radius: 35%;
    cursor: pointer;
}
button:hover{
    background-color: rgb(93, 105, 69);
    color: rgb(62, 238, 53);
    transform: scale(1.25);
}
.details{
    margin-top: 30px;
    text-align: center;
}
#result{
    width: 200px;
    height: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;
}
.dis-c{
    color: blue;
}
.dis-u{
    color: green;
}
#displaywon{
    display: none;
    background-color: black;
    border-radius: 10px;
    color: white;
    margin-top: 5px;
    width: 530px;
    height: 400px;
    z-index: 1;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-55%);
    /* display: block;
    align-items: center;
    justify-content: center; */
    text-align: center;
}
#displaylose{
    display: none;
    background-color: black;
    border-radius: 10px;
    color: white;
    margin-top: 5px;
    width: 530px;
    height: 400px;
    z-index: 1;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-55%);
    /* display: block;
    align-items: center;
    justify-content: center; */
    text-align: center;

    /* display: none; */
    /* background-color: rgb(106, 132, 155);
    width: 400px;
    height: 300px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
}
.restarted{
    margin-top: 30px;
    border: 2px white solid;
    border-radius: 10px;
    background-color: rgb(189, 189, 223);
}
.restarted:hover{
    background-color: rgb(55, 220, 195);
    transform:scale(1.5);
}